* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Changes page header color. */
nav h1 .seo {
    color: #d9dcd6;
}

/* Formats the navigation bar. */
nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Navigation bar headers. */
nav h1 {
    display: inline-block;
    font-size: 48px;
}

/* Selects the navigation list items and sets format and font characteristics. */
nav ul {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets link color and removes decorations, such as underlines. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Main page image, use css to include the image, changed the element to the semantic element "figure." */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets parameters for the main page content. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Each of these three class selectors format the three main large pieces of content on the page. */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* These three selectors format the images in the main page content. */
.search-engine-optimization img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.online-reputation-management img {
    max-height: 200px;
    float: right;
    margin-right: 25px;
}

.social-media-marketing img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* Format headers in main page content. */
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* change font-size of main page content. */
p {
    font-size: 16px;
}

/* Gives parameters for the aside on the right of the page. Divider was changed to the semantic tag "aside" */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Formats each of the three aside pieces to change color and margin. */
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}


/* Format all three aside images. */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This selector only affects the aside headers. */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* changed div with class "footer" to the semantic tag "footer." */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}